# Dependências (caso adicione Node.js no futuro)
node_modules/

# Variáveis de Ambiente e Segredos
.env
.env.local
.env.development
.env.production

# Build / Output
dist/
build/
.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editores / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docs
documentation/